opencv-python
numpy
ultralytics
lap>=0.5.12
uvicorn
fastapi
PyQt6
pyqt6-sip
pyqtgraph
torch
pillow
requests
psutil
tqdm
matplotlib
pyyaml
scipy
torchvision
albumentations
timm
python-multipart
PyQt6-Charts
openpyxl